-content_for(:jumbo_contenido) do


  %p#notice= notice


  %p
    %b Estado:
    = @gestion_atencion.estado



  = link_to "Editar", edit_gestion_atencion_path(@gestion_atencion)
  \|
  = link_to 'Lista', gestion_atenciones_path

-content_for :has_many do
  = render 'trozo_eventos'


