=stylesheet_link_tag 'gestion/signin.css', media: 'screen', 'data-turbolinks-track': 'reload'

.container
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => "form-signin", method: :put }) do |f|
    = devise_error_messages!
    %h2.form-signin-heading
      Editar Perfil
      -#{resource_name.to_s.humanize}

    %label.sr-only{:for => "email"} email
    = f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "email",:type => "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Esperando confirmación de: #{resource.unconfirmed_email}


    %label.sr-only{:for => "password"} Contraseña
    %i (déje en blanco la contraseña
    %i si no quisiera cambiarla)
    %br/
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} caracteres como mínimo)
    = f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder => "contraseña"
    %label.sr-only{:for => "password_confirmation"} Confirmación de contraseña
    = f.label :password_confirmation, 'Confirmación de contraseña',:class => "label-control"
    %br/
    = f.password_field :password_confirmation, autocomplete: "off", :placeholder => "repita la contraseña", :class => "form-control"
    = f.label :current_password, 'Contraseña actual'
    %i (escriba su contraseña vigente para confirmar los cambios)
    %br/
    = f.password_field :current_password, autocomplete: "off"
    %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Actualizar
    %br/
    %h3.form-signin-heading Cerrar la cuenta
    %p
      ¿Descontento? #{button_to "Cerrar la cuenta", registration_path(resource_name), data: { confirm: "Desea proseguir con el cierre de la cuenta?" }, method: :delete}
    = link_to "Volver", :back
