=stylesheet_link_tag 'gestion/signin.css', media: 'screen', 'data-turbolinks-track': 'reload'

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { :class => "form-signin",method: :put }) do |f|
  = devise_error_messages!
  %h2.form-signin-heading Cambie su contraseña
  = f.hidden_field :reset_password_token

  %label.sr-only{:for => "password"} Contraseña Nueva
  - if @minimum_password_length
    %em
      (#{@minimum_password_length} caracteres como mínimo)
  = f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder => "password"
  %label.sr-only{:for => "password_confirmation"} Confirmación de contraseña
  = f.label :password_confirmation,:class => "label-control"
  %br/
  = f.password_field :password_confirmation, autocomplete: "off", :placeholder => "repita password", :class => "form-control"
  = f.submit "Cambiar"
  = render "shared/devise_shared_links"
