= form_for  @gestion_criterio, :url => gestion_criterio_path(@gestion_criterio.id) do |f|
  - if @gestion_criterio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gestion_criterio.errors.count, "error")} impide(n) que se pueda guardar este registro de criterio:"
      %ul
        - @gestion_criterio.errors.full_messages.each do |msg|
          %li= msg
  .row
    = f.select_con_label(:tipo_auditoria_id, @gestion_tipo_auditorias.map {|u| ["id: " + u.id.to_s + " | " + u.nombre  , u.id]})
  .row
    .col-sm-6
      = f.label t('type')
      = f.select(:type, {"Criterio" => "Gestion::Criterio","Politica" => "Gestion::Politica","Procedimiento" => "Gestion::Procedimiento","Requisito" => "Gestion::Requisito"})
    .col-sm-4
      = f.label :directriz, :class => "label-control"
      .col-sm-12
        = f.check_box :directriz, :class => "form-control"
  .row
    .col-sm-2
      = f.text_field_con_label :numeral, :class => "form-control", :placeholder => "numeral"
    .textarea.col-sm-10
      = f.text_area :texto, :class => "form-control", :placeholder => "texto", :width => "100%", :rows => "5"



  .actions
    = f.submit 'Actualizar'
