= javascript_include_tag "jquery/jquery-3.1.1.slim.min.js"
= javascript_include_tag "jekyll/vendor/tether.min.js"
= javascript_include_tag "B4/bootstrap.js"
= javascript_include_tag "jekyll/ie-emulation-modes-warning.js"
= javascript_include_tag "jekyll/ie10-viewport-bug-workaround.js"
= javascript_include_tag "jekyll/vendor/holder.min.js"
-#= javascript_include_tag params[:controller]


