= javascript_include_tag "jekyll/vendor/tether.min.js", 'data-turbolinks-track': 'reload'
= javascript_include_tag "gestion/bootstrap.js", 'data-turbolinks-track': 'reload'
= javascript_include_tag "jekyll/ie-emulation-modes-warning.js", 'data-turbolinks-track': 'reload'
= javascript_include_tag "jekyll/ie10-viewport-bug-workaround.js", 'data-turbolinks-track': 'reload'
-#= javascript_include_tag "jekyll/vendor/holder.min.js", 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    "jekyll/docs.min.css", 'data-turbolinks-track': 'reload'
= javascript_include_tag "jekyll/vendor/jekyll-search.min.js", 'data-turbolinks-track': 'reload'


